@use '@/assets/variables' as vars;
@use '@styles/mixins' as mixins;

.chat {
  &__message {
    span {
      display: block;
      font-size: 1rem;
      opacity: 0.4;
      text-align: right;
    }
  }
}
