<div class="modal {{#if isOpen }} modal--open {{/if}}">
  <div class="modal__content">
    <div class="modal__header">
      {{{ title }}}
      {{{ closeModal }}}
    </div>
    <ul class="remove-user-item-list">
      {{{ removeUsersList }}}
    </ul>
  </div>
</div>
