<section class="sign-in-section">
  <form class="sign-in-form">
    <div class="sign-in-form__content">
      {{{ title }}}  
      {{{ signInInputList }}}
    </div>
    <div class="sign-in-form__footer">
      {{{ signInButton }}}
      {{{ signInLink }}}
    </div>
  </form>
</section>
