<section class="profile">
  <div class="profile__container">
    {{{ userSettingsAvatar }}}
    <form>
      <ul>
        {{{ userSettingsItemList }}}
      </ul>
      {{{ saveButton }}}
    </form>
  </div>
  {{{ backButton }}}
</section>
