<section class="profile">
    <div class="profile__container">
      {{> UserSettingsAvatar }}

      {{#> UserSettingsList className="" }}
        {{#each (profile-user-data)}}
          {{> UserSettingsItem }}
        {{/each}}
      {{/ UserSettingsList }}

      {{> Button page="profile" text="Сохранить" className="profile__save-btn"}}
    </div>

    {{> Button page="profile" className="profile__back-btn" text="Назад" }}
</section>