<section class="profile">
    <div class="profile__container">
      {{{ userSettingsAvatar }}}
     
      {{{ userSettingsItemList }}}
      <ul class="profile__links">
        {{{ profileLinks }}}
      </ul>
    </div>

    {{{ backButton }}}

</section>
