<div class="user-settings-avatar">
  <div class="user-settings-avatar__preview">
    <img src="{{icon}}" class="user-settings-avatar__img" alt="Аватар">
  </div>
  <span class="user-settings-avatar__name">{{name}}</span>
</div>
