<div class="user-settings-avatar">
  <div class="user-settings-avatar__preview">
    <img src={{icons 'avatarPreview'}} class="user-settings-avatar__img" alt="аватар">
    {{> Input type="file" name="avatar"}}
  </div>
  <span class="user-settings-avatar__name">Иван</span>
</div>