<div class="error-item">
    {{> Title level="1" text=code className="error-item__title" }}
    <p class="error-item__text">{{ text }}</p>
    {{> Link text="Назад к чатам" className="error-item__link" page="choose-chat" }}
</div>
