<section class="sign-in-section">
  <form class="sign-in-form">
    <div class="sign-in-form__content">
      {{{ title }}}  
      {{{ SignUpInputList }}}
    </div>
    <div class="sign-in-form__footer">
      {{{ SignUpButton }}}
      {{{ SignUpLink }}}
    </div>
  </form>
</section>
