<section class="profile">
    <div class="profile__container">
      {{> UserSettingsAvatar }}

      <form>
        {{#> UserSettingsList className="" }}
            {{> UserSettingsItem label="Старый пароль" name="oldPassword" type="password" value="12345" }}
            {{> UserSettingsItem label="Новый пароль" name="newPassword" type="password" value="12345" }}
            {{> UserSettingsItem label="Повторите новый пароль" name="newPassword" type="password" value="12345" }}
        {{/ UserSettingsList }}

        {{> Button text="Сохранить" page="profile" className="profile__save-btn"}}
      </form>
    </div>

    {{> Button className="profile__back-btn" text="Назад" page="profile" }}
</section>
