<section class="profile">
    <div class="profile__container">
      {{{ userSettingsAvatar }}}
      <form>
       {{{ userSettingsItemList }}}
      {{{ saveButton }}}
      </form>
      {{{ backButton }}}
    </div>
</section>
