$mainFont: 'Roboto', sans-serif;
$fontWeightLight: 400 !default;
$fontWeightBase: 500 !default;
$fontWeightMedium: 600 !default;
$fontWeightSolid: 700 !default;

$text-bgcolor: #fff;
$gray: #1d1d1f;
$gray-light: #e5e5e5;
$colorBase: #1d1d1f !default;
$bgColorBase: #fff !default;
$colorWhite: #fff !default;
$transitionDurationSlow: 0.3s !default;
$bgColorInput: #f5f5f5 !default;

$transitionDurationFast: 0.1s !default;
$transitionDurationBase: 0.2s !default;
$colorPlaceholder: #b5b5b5 !default;
