<section class="chat-page">
  <div class="chat-page__sidebar">
    <div class="chat-page__header">
      {{> Link className="chat-page__profile-link" page="profile" text="Профиль" icon=(icons 'arrowRight') }}

      {{> Input rowClassName="chat-page__input-row" name="search" type="search" placeholder="Поиск" }}
    </div>

    {{#> ChatList className="chat-page__list" }}

    {{#each (chat-page-list)}}
      {{> ChatItem }}
    {{/each}}
    {{/ ChatList }}
  </div>
  {{> Chat className="chat" chatSelected="true" }}
</section>
