@use '@/assets/variables' as vars;
@use '@styles/mixins' as mixins;

.chat {
  position: relative;
  display: flex;
  width: calc(100% - 31rem);
  flex-direction: column;
  justify-content: space-between;

  &__choose-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &__body {
    flex-grow: 1;
    padding: 2rem;
  }

  &__footer {
    .input-row {
      flex-grow: 1;
      margin: 0 1rem;
    }

    form {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      border-top: 1px solid vars.$gray;
    }
  }

  &__input {
    border: 1px solid vars.$gray;

    &:focus,
    &:active {
      border: 1px solid vars.$colorBase;
    }
  }

  &__user-settings-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__message {
    width: fit-content;
    padding: 10px;
    background: #e5e5e5;
    border-radius: 5px;
    font-size: 1.4rem;

    & + .chat__message {
      margin-top: 1rem;
    }

    &--right {
      margin-left: auto;
    }
  }

  &-list {
    overflow: auto;
    height: 100%;
  }
}

.chat-page {
  display: flex;
  overflow: hidden;
  height: 100vh;

  &__sidebar {
    width: calc(31rem);
    border-right: 1px solid vars.$gray;
  }

  &__profile-link {
    @include mixins.font(1.2rem);

    display: inline-flex;
    align-items: center;
  }

  &__header {
    padding: 2rem 1rem;
    border-bottom: 1px solid vars.$gray;
    text-align: right;
  }

  &__input-row {
    position: relative;
    margin-top: 2.3rem;

    &::after {
      @include mixins.size(2rem);

      position: absolute;
      top: 50%;
      left: 1rem;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5924 11.4138C10.1605 12.8458 7.83889 12.8458 6.40697 11.4138C4.97505 9.98192 4.97505 7.66031 6.40697 6.22839C7.83889 4.79647 10.1605 4.79647 11.5924 6.22839C13.0243 7.66031 13.0243 9.98192 11.5924 11.4138ZM12.0328 12.7968C10.0726 14.2962 7.25699 14.1495 5.46416 12.3566C3.51154 10.404 3.51154 7.2382 5.46416 5.28558C7.41678 3.33296 10.5826 3.33296 12.5352 5.28558C14.328 7.07833 14.4748 9.89375 12.9756 11.854L16.5423 15.4207L15.5995 16.3635L12.0328 12.7968Z' fill='%23999999'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      transform: translateY(-50%);
    }

    input {
      display: block;
      height: 3.2rem;
      padding-left: 3.5rem;
      border: 1px solid vars.$gray;

      @include mixins.font(1rem);
    }
  }
}

.button-add-chat-modal {
  position: absolute;
  left: 2rem;
  bottom: 2rem;

  img {
    @include mixins.size(2rem);
  }
}